/* File Panel */
#file-panel {
  overflow-y: scroll;
  height: calc(100% - 55px);
  padding: 40px 15px 15px 15px;
  background-color: #ffffff;
}
#file-table {
  height: calc(100% - 55px);
}
#warning-prompt {
  text-align: center;
}
#file-prompt {
  text-align: center;
  padding-top: 25%;
}
.file-table-row {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  margin: 10px 0;
  background: #f8f9fa !important;
  padding: 15px;
}
.file-table-row .btn {
  background-color: #ffffff;
}
.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}
.filename span.oi-circle-x:hover {
  color: red;
}
td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-file-input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#alignment-preview {
  margin: 0 15px;
  padding: 0;
  min-height: 115px;
  max-height: 200px;
  overflow-x: scroll;
  overflow-y: auto;
}
#distance-metrics_chosen .chosen-choices {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
#loading-information {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  padding: 10px;
  white-space: pre-line;
}
.dna {
  margin: 40px auto;
  width: 360px;
  height: 70px;
  perspective: 466px;
  transform-style: preserve-3d;
}
.ele {
  width: 1px;
  height: 70px;
  float: left;
  margin: 0 8px;
  border-left: 1px #b0b0b0 dashed;
  position: relative;
  transform: rotateX(-360deg);
  animation: run 2s linear infinite;
}
.ele:before,
.ele:after {
  content: "";
  width: 10px;
  height: 10px;
  background: deepskyblue;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.ele:before {
  top: -2px;
  background: #000000;
}
.ele:after {
  bottom: -2px;
}
.ele:nth-of-type(1) {
  animation-delay: -0.15s;
}
.ele:nth-of-type(2) {
  animation-delay: -0.3s;
}
.ele:nth-of-type(3) {
  animation-delay: -0.45s;
}
.ele:nth-of-type(4) {
  animation-delay: -0.6s;
}
.ele:nth-of-type(5) {
  animation-delay: -0.75s;
}
.ele:nth-of-type(6) {
  animation-delay: -0.9s;
}
.ele:nth-of-type(7) {
  animation-delay: -1.05s;
}
.ele:nth-of-type(8) {
  animation-delay: -1.2s;
}
.ele:nth-of-type(9) {
  animation-delay: -1.35s;
}
.ele:nth-of-type(10) {
  animation-delay: -1.5s;
}
.ele:nth-of-type(11) {
  animation-delay: -1.65s;
}
.ele:nth-of-type(12) {
  animation-delay: -1.8s;
}
.ele:nth-of-type(13) {
  animation-delay: -1.95s;
}
.ele:nth-of-type(14) {
  animation-delay: -2.1s;
}
.ele:nth-of-type(15) {
  animation-delay: -2.25s;
}
.ele:nth-of-type(16) {
  animation-delay: -2.4s;
}
.ele:nth-of-type(17) {
  animation-delay: -2.55s;
}
.ele:nth-of-type(18) {
  animation-delay: -2.7s;
}
.ele:nth-of-type(19) {
  animation-delay: -2.85s;
}
.ele:nth-of-type(20) {
  animation-delay: -3s;
}

@keyframes run {
  to {
    transform: none;
  }
}
#loadCancelButton {
  display: none;
}
input[type="range"] {
  width: inherit;
}
a.btn,
button.btn,
.btn-group {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
#file-footer {
  background: #f8f9fa;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 1030;
}